<div class="inputs">
<span class="input"><label for="width">Width</label><input type="text" id="width"></span>
<span class="input"><label for="height">Height</label><input type="text" id="height"></span>
<input type="button" id="submit" value="Calculate">
</div>
<span id="result"></span>
</div>